.imgPr 
{background-image: url("../img/rrqbn.jpeg");
margin-top: 15px;
   height: 100vh;
    width: 100% 100%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    justify-content: center;  
align-items: center;




.imgPr h1
{
     color: red;
    font-size: 43px;
    padding-inline: 15px;
    background-color: rgba(0, 0, 0, 0.136);
}
    .imgPr h1:hover
    {
     
    transition-property: rgba(86, 5, 5, 0.876) ;
    transition-duration: 5s;
    }   
   

h2 {
    background-color: rgba(0, 0, 0, 0.136);
    color: black;
    margin-top: 60px;
}  

}
