.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ""
    ""
    ". . .";


  .p1 {
    padding: 30px;
    margin-top: 14rem;


    .p2 {
      padding: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;

      .p2:first-letter {
          {
          color: red;
        }

      }
    }
  }

}

.container-s {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  h4 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2em;
    margin-top: 8rem;
    margin-left: 1.3rem;
    padding: 1.5rem;
    background: linear-gradient(294deg, rgba(224, 22, 22, 1) 17%, rgba(11, 2, 2, 1) 75%);

    h5 {
      align-items: center;
      color: black;
      font-size: 2rem;
      margin-top: 8rem;
      padding: 1.5rem;
      margin-left: 1.3rem;

      .p12 {
        font-size: 2.6vh;
        margin-top: 6rem;
        padding: 3rem;

        color:dimgrey .p12::first-letter {
          color: black;
          font-size: 2.5rem;
          font-family: cursive
        }

        .p24 {

          color: dimgrey;
          margin-top: 3rem;
          font-size: 2.6vh;
          padding: 3rem;


          .p24::first-letter {
            color: red;
            font-size: 2.5rem;
            font-family: cursive
          }
        }
      }
    }
  }
}

.sOneLetra {
  color: white;
  display: grid;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-left: 25px;
  font-size: 5em;
  margin-top: 2em;
  background: linear-gradient(294deg, rgba(224, 22, 22, 1) 17%, rgba(11, 2, 2, 1) 75%);

  .parrafocontacto {
    font-size: 1.5em;
    color: white;
    background: linear-gradient(294deg, rgba(224, 22, 22, 1) 17%, rgba(11, 2, 2, 1) 75%);
    display: flex;
    justify-content: center;

  }
}

.form {

  padding: 19px;
  border-style: ridge;
  background-color: rgba(0, 0, 0, 0.10);
  box-shadow: 10px;

  .h5contacto {


    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 7.5rem;
    padding: 2.8rem;
    color: white;

    background: linear-gradient(294deg, rgba(224, 22, 22, 1) 17%, rgba(11, 2, 2, 1) 75%);
    .mapa{
      padding: 3em;
      }

  }
}

.h6g
{
margin-top: 4.7em;
font-size: 2em;
padding: 2em;
display: flex;
align-items: center;
align-content: center;
justify-content: center;
color: white;
background: linear-gradient(294deg, rgba(224,22,22,1) 17%, rgba(11,2,2,1) 75%);
 
}
.gallery
{margin-bottom: 2em;
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 3em;
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 160px;
    grid-template-areas: 
    ""
    ""
    "";
    gap: .8em;
    grid-gap: .8em;

  
 
.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  
    .gallery_pic::after
    { content: "RockandRollerQueens";
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background-color: rgba(168, 24, 24, 0.275);
     transform: scale(0);
     transition: transform .4s;
     color: white;
     display: flex;
     align-items: center;
 
 .gallery_pic:hover::after{
     transform: scale(1) rotate(360deg);
 }
 
    }
  }
}

.formSponsor{

  padding: 19px;
  border-style:ridge;
 background-color:  rgba(0, 0, 0, 0.10);
box-shadow: 10px;
margin-bottom: 3rem;
 
.sponsor{
  font-size: 32px;
  color: ;
}
}