.footerr {


    width: 100%;
    padding: 11px;
    margin-inline-end: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgba(128, 128, 128, 0.47);

    .direcc {
        display: grid;
        justify-content: center;
        align-items: center;
        align-content: center;
        left: 5px;
        color: black;

        .siemprepoderosas {
            color: red;
            font-size: 1.8rem;

            &siemprepoderosas:hover {
                color: rgb(246, 13, 13);

                .siemprepoderosas:hover {
                    color: rgb(246, 13, 13);


                    .buttons {
                        display: flex;
                        gap: 2rem;
                        position: absolute;
                        orientation: portrait;
                        right: 90px;

                        .buttons a {
                            text-decoration: none;
                            height: 10px;
                            color: white;
                            gap: 1.8em;


                            .buttons a:hover {
                                color: red;
                            }
                        }

                    }

                }

            }

        }

    }