.imgPr h1
{
     color: red;
    font-size: 43px;
    padding-inline: 15px;
   
    background-color: rgba(0, 0, 0, 0.136);
   


.imgPr h1:hover
{
transition-property: rgba(86, 5, 5, 0.876) ;
transition-duration: 4s;
h2 {
    background-color: rgba(0, 0, 0, 0.136);
    color: black;
    margin-top: 60px;
}
}
}