
    @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;1,100;1,800&family=Noto+Sans+TC:wght@300;400;700&family=Ysabeau+Office:ital,wght@0,300;0,400;1,400;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans TC', sans-serif; 
    position: relative;

}

.logo 
{
width: 100px;
border-radius: 20rem;
justify-content: end;
align-items: end;}

.imgPr {
    background-image: url("../img/8.jpeg");
    margin-top: 15px;
   height: 100vh;
    width: 100% 100%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    justify-content: center;  
align-items: center;


}

.imgPr h1
{
     color: red;
    font-size: 43px;
    padding-inline: 15px;
   
    background-color: rgba(0, 0, 0, 0.136);
   
}

.imgPr h1:hover
{
transition-property: rgba(86, 5, 5, 0.876) ;
transition-duration: 4s;
}

@media screen and (max-width: 1024px)
{

    .imgPr h1{
        margin-top: 33rem;
        font-size: 1.5rem;
    
    
}
}

    h2 {
    background-color: rgba(0, 0, 0, 0.136);
    color: black;
    margin-top: 60px;
}

@media screen and (max-width: 1024px)

{

h2{ margin-top: 33rem;
    font-size: 1.5rem;


}
}
.footerr {
    

    width: 100%;
    padding: 8px;
    margin-inline-end: 35px;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgba(128, 128, 128, 0.47);
}
.direcc {
display: grid;
justify-content: center;
align-items: center;
align-content: center;
left:5px;
color: black;


 }
 
.siemprepoderosas
{color: red;
font-size: 1.8rem
} 

.siemprepoderosas:hover
{
color: rgb(246, 13, 13);

}

.buttons {
    display: flex;
    gap: 2rem; 
    position: absolute;
    orientation: portrait;
right: 90px;
 }

.buttons a
{
text-decoration: none;
height: 10px;
color: white;
gap: 1.8em;
}
.buttons a:hover 
{
color: red;
}
@media screen and (max-width: 1030px){
    .footerr{
        width: 100%;
height: 100%;

        background-color: red;}    
}
@media screen and (max-width: 700px) { 
.buttons 
{
   
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 
}}
@media screen and (max-width: 1200px) {
    .buttons a:hover 
{color: black;}}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 0px 0px;
    grid-template-areas:
      ""
        ""
    ". . .";
    }
    
    
    @media screen and (max-width: 1030px)
{
    .grid-container 
    {
        grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr) ;
    grid-template-areas:
      ""
      "" 
      "";

    } 
}
    

.videord{
width: 100%;
padding: 150px;
margin-top: -30em;

}  

    .p1 {padding: 30px;
      margin-top: 14rem;
       }
    .p2 {padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;}

.p2:first-letter
{color: red;}   

.sone{
   
border-radius: 30em;
    min-width: 100%;
display: grid;
align-items: center;
justify-content: center;
align-content: center;
      margin-top: -13em;
   padding: 15em;
margin-right: 7em;
 
    }
    
    @media screen and (max-width: 1030px)
{

}    
    .container-s{
        
            display: grid; 
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: 1fr 1fr; 
         
    }            
              
    
    @media screen and (max-width: 1030px)
    {  
        .container-s{ 
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-areas:
              "."
              "."
              "."
              "."
    
    }
    .sone
{
   margin-left: -14em;
   margin-top: -12em;
   
}     
    } 

    
    .foto2
    {  width: 100%;
    
        padding: 30px;
    margin-top: 20rem;
    
    }
    .videord{
        width: 100%;
        height: 40em;
        padding: 30px;
        margin-bottom: -65rem;
         }  
         
         @media screen and (max-width: 1024px){
        
.videord

{ 
    padding: 2rem;

}}         
    h4 {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 2em;
        margin-top: 8rem;
        margin-left: 1.3rem;
        padding: 1.5rem;
        background: linear-gradient(294deg, rgba(224,22,22,1) 17%, rgba(11,2,2,1) 75%);
    }
    h5{ align-items: center;
        color: black;
        font-size: 2rem;
        margin-top: 8rem;
        padding: 1.5rem;
       margin-left: 1.3rem;
    }
    
    .p12{
    font-size: 2.6vh;
    margin-top: 6rem;
  padding: 3rem;
    color:dimgrey
    }
    
    .p12::first-letter
    {color: black;
    font-size: 2.5rem;
    font-family:cursive}
    .p24{
   
        color: dimgrey;
        margin-top: 3rem;
        font-size: 2.6vh;
        padding: 3rem;
        
        }
        .p24::first-letter{
        color: red;
        font-size: 2.5rem;
        font-family:cursive
        
        }
    
    @media screen and (max-width: 1024px)
    
    {
     .p12 {
        font-size: 3.8vh;
    margin-top: 10rem;
    color:dimgrey;
    margin-left: 3rem;

    }
    .p24
{
    color: dimgrey;
        margin-top: 3rem;
        font-size: 3.8vh;
        padding: 3rem;
}       }
    
   
    
    
    
    @media screen and (max-width: 1030px)
    
    {
    h4
    {color: white;
        background-color: black  
    }
    h5
{
    color: white;
    background-color: red;
}    }


.sOneLetra{
 color: white;
    display: grid;
    justify-content: center;
    align-self: center;
    align-items: center;
margin-left: 25px;
    font-size: 5em;
margin-top: 2em;
background: linear-gradient(294deg, rgba(224,22,22,1) 17%, rgba(11,2,2,1) 75%);

}



 
  
.form{

  padding: 19px;
  border-style:ridge;
 background-color:  rgba(0, 0, 0, 0.10);
box-shadow: 10px;


}
@media screen and (max-width:1024)
{  
.form{ padding: 19px;
    border-style:ridge

}
}  
@media screen and (max-width: 1030px)
{

.sOneLetra{
color: white;

background: linear-gradient(294deg, rgba(224,22,22,1) 17%, rgba(11,2,2,1) 75%);


}
}


.h5contacto { 

    
        font-size: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
margin-top: 7.5rem;
padding: 2.8rem;
    color: white;
   
    background: linear-gradient(294deg, rgba(224,22,22,1) 17%, rgba(11,2,2,1) 75%);
 
    }

.parrafocontacto
    
{font-size: 1.5em;
    color: white;
    background: linear-gradient(294deg, rgba(224,22,22,1) 17%, rgba(11,2,2,1) 75%);
    display: flex;
    justify-content: center;
}   



.foto2
{

transition: all 1.5s;
transform: scale(1.1) translateY(-60px);
box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

}
.videord
{
    transition: all 1.5s;
    transform: scale(1.1) translateY(-60px) ;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}   
.imgPr h1
{
    transition: all 4s;
transform: scale(1.2) translateY(-60px);
}
.h2
{
    transition: all 4s;
    transform: scale(1.2) translateY(-60px);
}

  
.h6g
{
margin-top: 4.7em;
font-size: 2em;
padding: 2em;
display: flex;
align-items: center;
align-content: center;
justify-content: center;
color: white;
background: linear-gradient(294deg, rgba(224,22,22,1) 17%, rgba(11,2,2,1) 75%);
 
}
.gallery
{margin-bottom: 2em;
    margin-top: 3em;
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 3em;
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 160px;
    grid-template-areas: 
    ""
    ""
    "";
    gap: .8em;
    grid-gap: .8em;

  
 
}
.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  
}
.gallery_pic
{
position: relative;
cursor: pointer;

}
.gallery_pic::after
   { content: "RockandRollerQueens";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(168, 24, 24, 0.275);
    transform: scale(0);
    transition: transform .4s;
    color: white;
    display: flex;
    align-items: center;
}
.gallery_pic:hover::after{
    transform: scale(1) rotate(360deg);
}


@media (max-width: 768px){
    .h6g
{
    font-size: 2rem;
    padding: .8em 0 .4em;
}
.gallery_pic::after
{
    font-size: 1rem;
}
.gallery
{
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "img1 img1"
    "img2 img2"
    "img3 img3"
    "img4 img4"
    "img5 img5"
    "img6 img6"
    "img7 img7"
    "img8 img9"
  ;
}}
.mapa{
padding: 3em;
}   
   
.formSponsor{

    padding: 19px;
    border-style:ridge;
   background-color:  rgba(0, 0, 0, 0.10);
  box-shadow: 10px;
  margin-bottom: 3rem;
  
  
  }
  @media screen and (max-width:1024)
  {  
  .form{ padding: 19px;
      border-style:ridge
  
  }
  }  
  .sponsor{
    font-size: 32px;
    color: ;
  }
  for $item from 1 trough 4{
    .menu_item
  }